stages:
  - lint
  - release

variables:
  # We have to disable sigstore for now since NPM currently only supports
  # provenance when publishing from a gitlab-hosted runner. Hopefully we can
  # enable this in the future once they drop this limitation (which should be
  # possible since PyPI has no such limitation on their use of sigstore).
  NPM_CONFIG_PROVENANCE: "false"

include:
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-gitlab-release@0.7.0
  - component: gitlab.com/thelabnyc/thelab-ci-components/publish-to-npm@0.7.0

.base_job: &base_job
  image: registry.gitlab.com/thelabnyc/python:3.14-node24@sha256:3a078b0a05a010e672bdbed03d8c4dd8448f4e64ead1b1ad633fb54944b763db
  before_script:
    - npm ci
  variables:
    NODE_ENV: development
    PRE_COMMIT_HOME: ${CI_PROJECT_DIR}/.cache/pre-commit

lint:
  <<: *base_job
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - if: $CI_COMMIT_BRANCH && $CI_COMMIT_REF_PROTECTED == "true"
    - if: $CI_COMMIT_TAG && $CI_COMMIT_REF_PROTECTED == "true"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  stage: lint
  needs: []
  script:
    - npm run build
    - npm run check
    - pip3 install pre-commit
    - pre-commit run --all-files
  cache:
    paths:
      - ${PRE_COMMIT_HOME}
